<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" id="main-image">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/hearth.jpeg" alt="First slide" id="color-layer">
      <div class="carousel-caption d-none d-md-block d-inline" id="main-tab-box">
        <h2 id="tab-header">Your home on Zillow<span id="trademark">®</span></h2>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="../buy" id="zillow-tab">Buy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="../rent" id="zillow-tab">Rent</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="" id="zillow-tab">Sell</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="zestimate" id="zillow-tab">Zestimate</a>
          </li>
          <div class="input-group" id="search-box">
            <input type="text" class="form-control" id="interior-search-box" placeholder="Enter your home address">
            <div id="search-button">
              <button class="btn btn-default;" type="button" id="button-background">Continue</button>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <h2 id="selling-home-tagline">
    <div id="selling-home-tagline-align">
      <img src="/assets/sell-home-icon.png"> <span id=selling-home-tagline1>Own a home?</span> <span id=selling-home-tagline2> View your personalized Owner Dashboard today.</span> <button class="btn btn-default;" type="button" id="selling-home-button">Check it out!</button>
    </div>
  </h2>
</div>

<!-- sell list Footer -->
<div class="card-body">
  <div class="row">
    <div class="col-3">
      <div id="real-estate-list">
        <h6 class="footer-header">REAL ESTATE</h6>
        <div class="sub-header">
          <ul class="footer-contents">
            <div class="always-show">
              <li class="line-spacing">Browse all homes</li>
              <li class="line-spacing">Albuquerque real estate</li>
              <li class="line-spacing">Atlanta real estate</li>
              <li class="line-spacing">Austin real estate</li>
              <li class="line-spacing">Baltimore real estate</li>
            </div>
            <div class="hidden-real-estate">
              <li class="line-spacing">Boston real estate</li>
              <li class="line-spacing">Charlotte real estate</li>
              <li class="line-spacing">Chicago real estate</li>
              <li class="line-spacing">Cleveland real estate</li>
              <li class="line-spacing">Colorado Springs real estate</li>
              <li class="line-spacing">Columbus real estate</li>
              <li class="line-spacing">Dallas real estate</li>
              <li class="line-spacing">Denver real estate</li>
              <li class="line-spacing">Detroit real estate</li>
              <li class="line-spacing">El Paso real estate</li>
              <li class="line-spacing">Fort Worth real estate</li>
              <li class="line-spacing">Fresno real estate</li>
              <li class="line-spacing">Houston real estate</li>
              <li class="line-spacing">Indianapolis real estate</li>
              <li class="line-spacing">Jacksonville real estate</li>
              <li class="line-spacing">Kansas City real estate</li>
              <li class="line-spacing">Las Vegas real estate</li>
              <li class="line-spacing">Long Beach real estate</li>
              <li class="line-spacing">Los Angeles real estate</li>
              <li class="line-spacing">Louisville real estate</li>
              <li class="line-spacing">Memphis real estate</li>
              <li class="line-spacing">Mesa real estate</li>
              <li class="line-spacing">Miami real estate</li>
              <li class="line-spacing">Milwaukee real estate</li>
              <li class="line-spacing">Minneapolis real estate</li>
              <li class="line-spacing">Nashville real estate</li>
              <li class="line-spacing">New Orleans real estate</li>
              <li class="line-spacing">New York real estate</li>
              <li class="line-spacing">Oakland real estate</li>
              <li class="line-spacing">Oklahoma real estate</li>
              <li class="line-spacing">Omaha real estate</li>
              <li class="line-spacing">Philadelphia real estate</li>
              <li class="line-spacing">Phoenix real estate</li>
              <li class="line-spacing">Portland real estate</li>
              <li class="line-spacing">Raleigh real estate</li>
              <li class="line-spacing">Sacramento real estate</li>
              <li class="line-spacing">San Antonio real estate</li>
              <li class="line-spacing">San Diego real estate</li>
              <li class="line-spacing">San Francisco real estate</li>
              <li class="line-spacing">San Jose real estate</li>
              <li class="line-spacing">Seattle real estate</li>
              <li class="line-spacing">Tucson real estate</li>
              <li class="line-spacing">Tulsa real estate</li>
              <li class="line-spacing">Virginia Beach real estate</li>
              <li class="line-spacing">Washington DC real estate</li>
              <li class="line-spacing">Wichita real estate</li>
              <li class="line-spacing">Zillow Advice</li>
              <li class="line-spacing">
                <a href="#" class="show-hide-link" id="real-estate-less">less</a>
              </li>
            </div>
              <li class="line-spacing">
                <a href="#" class="show-hide-link" id="real-estate-more">More</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div id="rentals-list">
        <h6 class="footer-header">RENTALS</h6>
        <div class="sub-header">
          <ul class="footer-contents">
            <div class="always-show">
              <li class="line-spacing">Rental Buildings</li>
              <li class="line-spacing">Albuquerque apartments for rent</li>
              <li class="line-spacing">Atlanta apartments for rent</li>
              <li class="line-spacing">Austin apartments for rent</li>
              <li class="line-spacing">Baltimore apartments for rent</li>
            </div>
            <div class="hidden-rentals">
              <li class="line-spacing">Rental Buildings</li>
              <li class="line-spacing">Atlanta apartments for rent</li>
              <li class="line-spacing">Austin apartments for rent</li>
              <li class="line-spacing">Baltimore apartments for rent</li>
              <li class="line-spacing">Boston apartments for rent</li>
              <li class="line-spacing">Charlotte apartments for rent</li>
              <li class="line-spacing">Chicago apartments for rent</li>
              <li class="line-spacing">Dallas apartments for rent</li>
              <li class="line-spacing">Denver apartments for rent</li>
              <li class="line-spacing">Houston apartments for rent</li>
              <li class="line-spacing">Jersey City apartments for rent</li>
              <li class="line-spacing">Long Beach apartments for rent</li>
              <li class="line-spacing">Miami apartments for rent</li>
              <li class="line-spacing">Minneapolis apartments for rent</li>
              <li class="line-spacing">New York City apartments for rent</li>
              <li class="line-spacing">Bronx NYC apartments for rent</li>
              <li class="line-spacing">Brooklyn NYC apartments for rent</li>
              <li class="line-spacing">Manhattan NYC apartments for rent</li>
              <li class="line-spacing">Queens NYC apartments for rent</li>
              <li class="line-spacing">Oakland apartments for rent</li>
              <li class="line-spacing">Oklahoma City apartments for rent</li>
              <li class="line-spacing">Philadelphia apartments for rent</li>
              <li class="line-spacing">Sacramento apartments for rent</li>
              <li class="line-spacing">San Francisco apartments for rent</li>
              <li class="line-spacing">Seattle apartments for rent</li>
              <li class="line-spacing">Washington DC apartments for rent</li>
              <li class="line-spacing">Atlanta houses for rent</li>
              <li class="line-spacing">Austin houses for rent</li>
              <li class="line-spacing">Boston houses for rent</li>
              <li class="line-spacing">Charlotte houses for rent</li>
              <li class="line-spacing">Columbus houses for rent</li>
              <li class="line-spacing">Fort Worth houses for rent</li>
              <li class="line-spacing">Fresno houses for rent</li>
              <li class="line-spacing">Indianapolis houses for rent</li>
              <li class="line-spacing">Jacksonville houses for rent</li>
              <li class="line-spacing">Las Vegas houses for rent</li>
              <li class="line-spacing">Houston houses for rent</li>
              <li class="line-spacing">Memphis houses for rent</li>
              <li class="line-spacing">Milwaukee houses for rent</li>
              <li class="line-spacing">Nashville houses for rent</li>
              <li class="line-spacing">Oakland houses for rent</li>
              <li class="line-spacing">Oklahoma City houses for rent</li>
              <li class="line-spacing">Philadelphia houses for rent</li>
              <li class="line-spacing">Phoenix houses for rent</li>
              <li class="line-spacing">Portland houses for rent</li>
              <li class="line-spacing">San Antonio houses for rent</li>
              <li class="line-spacing">San Francisco houses for rent</li>
              <li class="line-spacing">San Jose houses for rent</li>
              <li class="line-spacing">Tampa houses for rent</li>
              <li class="line-spacing">Tuscon houses for rent</li>
              <li class="line-spacing">Washington DC houses for rent</li>
              <li class="line-spacing">
                <a href="#" class="show-hide-link" id="rentals-less">Less</a>
              </li>
            </div>
              <li class="line-spacing">
                <a href="#" class="show-hide-link" id="rentals-more">More</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div id="mortgage-list">
        <h6 class="footer-header">MORTGAGE RATES</h6>
        <div class="sub-header">
          <ul class="footer-contents">
            <div class="always-show">
              <li class="line-spacing">Current Mortgage Rates</li>
              <li class="line-spacing">Alaska Mortgage Rates</li>
              <li class="line-spacing">Alabama Mortgage Rates</li>
              <li class="line-spacing">Arkansas Mortgage Rates</li>
              <li class="line-spacing">Arisona Mortgage Rates</li>
            </div>
            <div class="hidden-mortgage">
              <li class="line-spacing">Boston Mortgage Rates</li>
              <li class="line-spacing">Charlotte Mortgage Rates</li>
              <li class="line-spacing">Chicago Mortgage Rates</li>
              <li class="line-spacing">Cleveland Mortgage Rates</li>
              <li class="line-spacing">Colorado Springs Mortgage Rates</li>
              <li class="line-spacing">Columbus Mortgage Rates</li>
              <li class="line-spacing">Dallas Mortgage Rates</li>
              <li class="line-spacing">Denver Mortgage Rates</li>
              <li class="line-spacing">Detroit Mortgage Rates</li>
              <li class="line-spacing">El Paso Mortgage Rates</li>
              <li class="line-spacing">Fort Worth Mortgage Rates</li>
              <li class="line-spacing">Fresno Mortgage Rates</li>
              <li class="line-spacing">Houston Mortgage Rates</li>
              <li class="line-spacing">Indianapolis Mortgage Rates</li>
              <li class="line-spacing">Jacksonville Mortgage Rates</li>
              <li class="line-spacing">Kansas City Mortgage Rates</li>
              <li class="line-spacing">Las Vegas Mortgage Rates</li>
              <li class="line-spacing">Long Beach Mortgage Rates</li>
              <li class="line-spacing">Los Angeles Mortgage Rates</li>
              <li class="line-spacing">Louisville Mortgage Rates</li>
              <li class="line-spacing">Memphis Mortgage Rates</li>
              <li class="line-spacing">Mesa Mortgage Rates</li>
              <li class="line-spacing">Miami Mortgage Rates</li>
              <li class="line-spacing">Milwaukee Mortgage Rates</li>
              <li class="line-spacing">Minneapolis Mortgage Rates</li>
              <li class="line-spacing">Nashville Mortgage Rates</li>
              <li class="line-spacing">New Orleans Mortgage Rates</li>
              <li class="line-spacing">New York Mortgage Rates</li>
              <li class="line-spacing">Oakland Mortgage Rates</li>
              <li class="line-spacing">Oklahoma Mortgage Rates</li>
              <li class="line-spacing">Omaha Mortgage Rates</li>
              <li class="line-spacing">Philadelphia Mortgage Rates</li>
              <li class="line-spacing">Phoenix Mortgage Rates</li>
              <li class="line-spacing">Portland Mortgage Rates</li>
              <li class="line-spacing">Raleigh Mortgage Rates</li>
              <li class="line-spacing">Sacramento Mortgage Rates</li>
              <li class="line-spacing">San Antonio Mortgage Rates</li>
              <li class="line-spacing">San Diego Mortgage Rates</li>
              <li class="line-spacing">San Francisco Mortgage Rates</li>
              <li class="line-spacing">San Jose Mortgage Rates</li>
              <li class="line-spacing">Seattle Mortgage Rates</li>
              <li class="line-spacing">Tucson Mortgage Rates</li>
              <li class="line-spacing">Tulsa Mortgage Rates</li>
              <li class="line-spacing">Virginia Beach Mortgage Rates</li>
              <li class="line-spacing">Washington DC Mortgage Rates</li>
              <li class="line-spacing">Wichita Mortgage Rates</li>
              <li class="line-spacing">
                <a href="#" class="show-hide-link" id="mortgage-less">More</a>
              </li>
            </div>
              <li class="line-spacing">
                <a href="#" class="show-hide-link" id="mortgage-more">More</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-3">
      <div id="browse-list">
        <h6 class="footer-header">BROWSE HOMES</h6>
        <div class="sub-header">
          <ul class="footer-contents">
            <div class="always-show">
              <li class="line-spacing">California</li>
              <li class="line-spacing">Texas</li>
              <li class="line-spacing">New York</li>
              <li class="line-spacing">Florida</li>
              <li class="line-spacing">Illiniois</li>
            </div>
            <div class="hidden-browse">
              <li class="line-spacing">Pennsylvania</li>
              <li class="line-spacing">Ohio</li>
              <li class="line-spacing">Michigan</li>
              <li class="line-spacing">Georgia</li>
              <li class="line-spacing">North Carolina</li>
              <li class="line-spacing">New Jersey</li>
              <li class="line-spacing">Virginia</li>
              <li class="line-spacing">Washington</li>
              <li class="line-spacing">Massachusetts</li>
              <li class="line-spacing">Indiana</li>
              <li class="line-spacing">Arizona</li>
              <li class="line-spacing">Tennessee</li>
              <li class="line-spacing">Missouri</li>
              <li class="line-spacing">Maryland</li>
              <li class="line-spacing">Wisconsin</li>
              <li class="line-spacing">Minnesota</li>
              <li class="line-spacing">Colorado</li>
              <li class="line-spacing">Alabama</li>
              <li class="line-spacing">South Carolina</li>
              <li class="line-spacing">Louisiana</li>
              <li class="line-spacing">Kentucky</li>
              <li class="line-spacing">Oregon</li>
              <li class="line-spacing">Oklahoma</li>
              <li class="line-spacing">Connecticut</li>
              <li class="line-spacing">Iowa</li>
              <li class="line-spacing">Mississippi</li>
              <li class="line-spacing">Arkansas</li>
              <li class="line-spacing">Kansas</li>
              <li class="line-spacing">Utah</li>
              <li class="line-spacing">Nevada</li>
              <li class="line-spacing">New Mexico</li>
              <li class="line-spacing">West Virginia</li>
              <li class="line-spacing">Nebraska</li>
              <li class="line-spacing">Idaho</li>
              <li class="line-spacing">Hawaii</li>
              <li class="line-spacing">Maine</li>
              <li class="line-spacing">New Hampshire</li>
              <li class="line-spacing">Rhode Island</li>
              <li class="line-spacing">Montana</li>
              <li class="line-spacing">Delaware</li>
              <li class="line-spacing">South Dakota</li>
              <li class="line-spacing">Alaska</li>
              <li class="line-spacing">North Dakota</li>
              <li class="line-spacing">Vermont</li>
              <li class="line-spacing">Washington, DC</li>
              <li class="line-spacing">Wyoming</li>
              <li class="line-spacing">Puerto Rico</li>
              <li class="line-spacing">Northern Mariana Islands</li>
              <li class="line-spacing">American Samoa</li>
              <li class="line-spacing">Guam</li>
              <li class="line-spacing">Virgin Islands</li>
              <li class="line-spacing">
                <a href="#" class="show-hide-link" id="browse-less">More</a>
              </li>
            </div>
              <li class="line-spacing">
                <a href="#" class="show-hide-link" id="browse-more">More</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
