
<!-- top-left zillow logo -->
<div class="container-fluid">
  <img src="/assets/Zillow-nav-logo.png" width="70" height="70" alt="" id="zillow-nav-logo">
</div>

<!-- Navbar -->
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light" id="nav-bar-skinny">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Buy</a>
          </li>
          <li class="nav-item active" id="padding-nav">
            <a class="nav-link" href="#">Rent</a>
          </li>
          <li class="nav-item active" id="padding-nav">
            <a class="nav-link" href="#">Sell</a>
          </li>
          <li class="nav-item active" id="padding-nav">
            <a class="nav-link" href="#">Mortgages</a>
          </li>
          <li class="nav-item active" id="padding-nav">
            <a class="nav-link" href="#">Agent finder</a>
          </li>
          <li class="nav-item active" id="padding-nav">
            <a class="nav-link" href="#">Home design</a>
          </li>
          <li class="nav-item active" id="padding-nav">
            <a class="nav-link" href="#">More</a>
          </li>

        </ul>
        <ul class="navbar-nav navbar-right" id="my-zillow">
          <li class="nav-item active">
            <a class="nav-link" href="#" id="list-your-rental">List your rental</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">My Zillow</a>
          </li>
          <li class="nav-item active">
            <i class="fas fa-question-circle" id="question-mark"></i>
          </li>
        </ul>
      </div>
    </nav>
</div>



<!-- Sell Tab Activated -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" id="main-image">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/woman-couch.jpeg" alt="First slide" id="color-layer">
      <div class="carousel-caption d-none d-md-block d-inline" id="main-tab-box">
        <h2 id="tab-header">Sell your home</h2>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active text-white" href="#" id="zillow-tab">Buy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#" id="zillow-tab">Rent</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#" id="zillow-tab">Sell</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#" id="zillow-tab">Zestimate</a>
          </li>
          <div class="input-group" id="search-box">
            <input type="text" class="form-control" id="interior-search-box" placeholder="Enter your home address">
            <div id="search-button">
              <button class="btn btn-default;" type="button" id="button-background" >Continue</button>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <h2 id="selling-home-tagline">
    <div id="selling-home-tagline-align">
      <img src="/assets/sell-home-icon.png"> <span id=selling-home-tagline1>Selling a home?</span> <span id=selling-home-tagline2> Your Owner Dashboard is ready with tools just for you.</span> <button class="btn btn-default;" type="button" id="selling-home-button">Check it out!</button>
    </div>
  </h2>
</div>

<!-- sell list Footer -->
<div class="card-body">
  <blockquote class="blockquote mb-0">
    <div id="real-estate-list">
      <h6 class="footer-header">REAL ESTATE</h6>
      <div class="sub-header">
        <ul class="footer-contents">
          <div class="always-show">
            <li class="line-spacing">Browse all homes</li>
            <li class="line-spacing">Albuquerque real estate</li>
            <li class="line-spacing">Atlanta real estate</li>
            <li class="line-spacing">Austin real estate</li>
            <li class="line-spacing">Baltimore real estate</li>
          </div>
          <div class="hidden-list">
            <li class="line-spacing">Boston real estate</li>
            <li class="line-spacing">Charlotte real estate</li>
            <li class="line-spacing">Chicago real estate</li>
            <li class="line-spacing">Cleveland real estate</li>
            <li class="line-spacing">Colorado Springs real estate</li>
            <li class="line-spacing">Columbus real estate</li>
            <li class="line-spacing">Dallas real estate</li>
            <li class="line-spacing">Denver real estate</li>
            <li class="line-spacing">Detroit real estate</li>
            <li class="line-spacing">El Paso real estate</li>
            <li class="line-spacing">Fort Worth real estate</li>
            <li class="line-spacing">Fresno real estate</li>
            <li class="line-spacing">Houston real estate</li>
            <li class="line-spacing">Indianapolis real estate</li>
            <li class="line-spacing">Jacksonville real estate</li>
            <li class="line-spacing">Kansas City real estate</li>
            <li class="line-spacing">Las Vegas real estate</li>
            <li class="line-spacing">Long Beach real estate</li>
            <li class="line-spacing">Los Angeles real estate</li>
            <li class="line-spacing">Louisville real estate</li>
            <li class="line-spacing">Memphis real estate</li>
            <li class="line-spacing">Mesa real estate</li>
            <li class="line-spacing">Miami real estate</li>
            <li class="line-spacing">Milwaukee real estate</li>
            <li class="line-spacing">Minneapolis real estate</li>
            <li class="line-spacing">Nashville real estate</li>
            <li class="line-spacing">New Orleans real estate</li>
            <li class="line-spacing">New York real estate</li>
            <li class="line-spacing">Oakland real estate</li>
            <li class="line-spacing">Oklahoma real estate</li>
            <li class="line-spacing">Omaha real estate</li>
            <li class="line-spacing">Philadelphia real estate</li>
            <li class="line-spacing">Phoenix real estate</li>
            <li class="line-spacing">Portland real estate</li>
            <li class="line-spacing">Raleigh real estate</li>
            <li class="line-spacing">Sacramento real estate</li>
            <li class="line-spacing">San Antonio real estate</li>
            <li class="line-spacing">San Diego real estate</li>
            <li class="line-spacing">San Francisco real estate</li>
            <li class="line-spacing">San Jose real estate</li>
            <li class="line-spacing">Seattle real estate</li>
            <li class="line-spacing">Tucson real estate</li>
            <li class="line-spacing">Tulsa real estate</li>
            <li class="line-spacing">Virginia Beach real estate</li>
            <li class="line-spacing">Washington DC real estate</li>
            <li class="line-spacing">Wichita real estate</li>
            <li class="line-spacing">Zillow Advice</li>
          </div>
            <li class="line-spacing">
              <a href="#" class="show-hide-link" id="real-estate-more">More</a>
            </li>
        </ul>
      </div>
    </div>

  </blockquote>
</div>
