
<!-- Navbar -->
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-link">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Buy</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Rent</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Sell</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Mortgages</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Agent Finder</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">Home Design</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="#">More</a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://videos.zillowstatic.com/homepage/video_sell_20170503_1800b_q.jpg" alt="First slide">
    </div>
  </div>
</div>
<div class="container-fluid">
  <img src="/assets/Zillow-nav-logo.png" width="70" height="70" alt="" id="zillow-nav">
</div>
