
<!-- Navbar -->
<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-link" id="nav-bar-skinny">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Buy</a>
          </li>
          <li class="nav-item active" id="padding-nav">
            <a class="nav-link" href="#">Rent</a>
          </li>
          <li class="nav-item active" id="padding-nav">
            <a class="nav-link" href="#">Sell</a>
          </li>
          <li class="nav-item active" id="padding-nav">
            <a class="nav-link" href="#">Mortgages</a>
          </li>
          <li class="nav-item active" id="padding-nav">
            <a class="nav-link" href="#">Agent Finder</a>
          </li>
          <li class="nav-item active" id="padding-nav">
            <a class="nav-link" href="#">Home Design</a>
          </li>
          <li class="nav-item active" id="padding-nav">
            <a class="nav-link" href="#">More</a>
          </li>

        </ul>
        <ul class="navbar-nav navbar-right" id="my-zillow">
          <li class="nav-item active">
            <a class="nav-link" href="#" id="list-your-rental">List Your Rental</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">My Zillow</a>
          </li>
          <li class="nav-item active">
            <i class="fas fa-question-circle" id="question-mark"></i>
          </li>
        </ul>
      </div>
    </nav>
</div>

<!-- Image of home and tabs -->
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" id="main-image">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/woman-couch.jpeg" alt="First slide">
      <div class="carousel-caption d-none d-md-block d-inline" id="main-tab-box">
        <h2 id="tab-header">Sell your home</h2>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link active text-white" href="#" id="zillow-tab">Buy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#" id="zillow-tab">Rent</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#" id="zillow-tab">Sell</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#" id="zillow-tab">Zestimate</a>
          </li>
          <div class="input-group" id="search-box">
            <input type="text" class="form-control" placeholder="Enter your home address">
            <span class="input-group-btn">
              
                <button class="btn btn-default;" id="search-button" type="button">Continue</button>
              
            </span>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- top-left zillow logo -->
<div class="container-fluid">
  <img src="/assets/Zillow-nav-logo.png" width="70" height="70" alt="" id="zillow-nav">
</div>
