#zillow-nav {
  float: left;
  position: absolute;
  top: 0em;
  width: 100px;
  height: 100px;
}

#nav-bar-skinny {
  font-size: 15px !important;
  padding-left: 110px;
  font-family: Gotham,gotham,Verdana,sans-serif;
  box-shadow: 5px #888;
}

#zillow-tab {
  background-color: #1e1d1d; opacity: .8; filter: alpha(opacity=50);
}

.carousel-caption {
  position: absolute;
  top: 255px
}
