#zillow-nav {
  float: left;
  position: absolute;
  top: 0em;
  width: 100px;
  height: 100px;
}

#nav-bar-skinny {
  font-size: 15px !important;
  padding-left: 110px;
  font-family: Gotham,gotham,Verdana,sans-serif;
  box-shadow: 5px #888;
}
