#zillow-nav {
  float: left;
  position: absolute;
  top: 0em;
  width: 100px;
  height: 100px;
}

#nav-bar-skinny {
  font-size: 15px !important;
  padding-left: 110px;
  font-family: sans-serif;
  box-shadow: 5px #888;
  max-height: 48px;
}

#zillow-tab {
  color: #FFFFFF 1px !important;
  background-color: #1e1d1d; opacity: .8; filter: alpha(opacity=50);
  width: 155px;
  border-width: 1px !important;
  font-family: sans-serif;
  border: solid rgba(255,255,255,.75);
  height: 50px;
  padding-top: 12px;
  font-size: 18px;
}

.carousel-caption {
  position: absolute;
  top: 100px;
  font-weight: 300;
}

#list-your-rental {
  color: #0074e4;
}

#my-zillow {
  font-size: 13px;
}

#question-mark {
  padding-left: 10px !important;
  padding-top: 10px !important;
  color: #666;
  font-size: 16px;
}

#padding-nav {
  padding-left: 9px;
}

#tab-header {

  font-size: 50px;
  font-weight: 400 !important;
  color: #FFFFFF;
  font-family: sans-serif;
  padding-bottom: 20px;
}

#search-box {
  padding-top: 20px;
  max-width: 620px;
  font-family: sans-serif;
  height: 80px;
}

#search-button {
  color: #FFFFFF;
  background-color: #0074e4;
  height: 60px;
}
