<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel" id="main-image">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="assets/rent-img.jpeg" alt="First slide" id="color-layer">
      <div class="carousel-caption d-none d-md-block d-inline" id="main-tab-box">
        <h2 id="tab-header">Find your next rental</h2>
        <ul class="nav justify-content-center">
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="buy" id="zillow-tab">Buy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" id="zillow-tab">Rent</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="" id="zillow-tab">Sell</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#" id="zillow-tab">Zestimate</a>
          </li>
          <div class="input-group" id="search-box">
            <input type="text" class="form-control" id="interior-search-box" placeholder="Enter a neighborhood, city, address or ZIP code">
            <div id="search-button">
              <button class="btn btn-default;" type="button" id="button-background">Search</button>
            </div>
          </div>
        </ul>
      </div>
    </div>
  </div>
  <h2 id="selling-home-tagline">
    <div id="selling-home-tagline-align">
      <img id="rent-icon" src="/assets/rent-doc.png"> <span id=selling-home-tagline1>List a rental for free</span> <span id=selling-home-tagline2> Post your listing on the largest rental network on the Web.</span> <button class="btn btn-default;" type="button" id="selling-home-button">Start here</button>
    </div>
  </h2>
</div>
